<!--Category Display Page-->

<!DOCTYPE html>
<html lang="en">
<head>

    <title>The Product Hub | <%= product.category %> Category</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="Animation.css">

        <!-- Font Awesome Icons-->
        <script src="https://kit.fontawesome.com/44fabe5a7c.js" crossorigin="anonymous"></script>
 </head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img src="logo1.jpeg" href="#" class="justify-content-center img-fluid">The Product Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="fas fa-home"></i> Home <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fab fa-product-hunt"></i> Product Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Food</a>
                        <a class="dropdown-item" href="#">Electronic</a>
                        <a class="dropdown-item" href="#">Fashion</a>
                        <a class="dropdown-item" href="#">Entertainment</a>
                        <a class="dropdown-item" href="#">Home Supplies</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Other</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ProductForm"><i class="fas fa-id-card"></i> Product Form<span
                                    class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-id-card"></i> Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div align ="center" class="jumbotron jumbotron-fluid darktext">
        <h2 class="display-2 m-5">Category: <%= product.category %> </h2>
        <h3 class="display-4 m-5"> Reviews of <%= product.category %> </h3>
    </div>

    <% if((product.length )>0){ %>

    <% product.forEach(function(product){ %>

    <div class="card-deck">
        <div class="card">
          <img src= " "  class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title"> <%= product.name %> </h5> 
            <h5> Rating: <%= product.rate %> </h5>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
            <p class="card-text"><small class="text-muted">View Proududct Reviews</small></p>
          </div>
        </button>
        </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle"><%= product.name %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p> Product Brand: <%= product.brand %> </p>
              <p> Product Category: <%= product.category %> </p>
              <p> Product Question: <%= product.question %> </p>
              <p> Product Rate: <%= product.rate %> </p>
              <p> Product Reviews: </p>
              <!-- comments go here -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



        <style>
            .form-center {
                padding-top: 25px;
                padding-bottom: 25px;
                padding-left: 25px;
                padding-right: 25px;
            }

            .form-control {
                box-shadow: none;
                font-weight: normal;
            }

            .background {
                background-color: #4D4845;
            }

            .navbar .dropdown-menu.form-wrapper {
                width: 300px;
                padding: 15px;
                left: auto;
                right: 0;
            }

            .navbar {
                background-color: #4D4845;
            }

            .orange {
                background-color: #fcaf8d;
            }

            .jumbotron {
                background: linear-gradient(#FC9C73, #FFFFFF);
                min-height: 350px;
                text-shadow: 2px 2px 2px #4D4845, 3px 2px 3px #ccc, 2px 3px 3px #000000;
                /* -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;*/
            }

            .darktext {
                color: #4D4845;
            }

            img {
                width: 15%;
            }

            .border1 {
                border-right: 1px solid #ccc;
                width: 30px;
                height: 300px;
                border-image: linear-gradient(#FFFFFF, #ccc, #FFFFFF) 1;
            }

            .getstarted {
                height: 100px;
                /*border-image: linear-gradient(#ccc, #ccc, #ccc);  */
                /*width: 1150px;*/
            }
        </style> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>
