<section id="products" class="container">
  <h1>All Products</h1>

  {{#each products}}
  <div class="product">
    <h2>{{name}}</h2>
    <h3>{{brand_name}}</h3>
    <p>Category: {{category}}</p>
    <p>Question: {{question}}</p>
    
    <div>
      <button href="mailto:{{contact_email}}" class="btn btn-success">Product Page</button>
    </div>
  </div>
  {{else}}
  <p>No products available</p>
  {{/each}}

</section>